body{
    margin: 0px;
}
.navbar{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.navbar a{
    float: left;
    display: inline-block;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#myProfile img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
}

#messages img{
    position:absolute;
    top: 3px;
    right: 3px;
}

#logs img{
    position: absolute;
    top: 3px;
    right: 30px;
}

.search {
    text-align: center;
    padding-top: 3px;
    margin-right: 20px;
}

.search input{
    width: 250px;
}
