body{
    margin: 0px;
}
.navbar{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.navbar a{
    float: left;
    display: inline-block;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#myProfile img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
}

#messages img{
    position:absolute;
    top: 3px;
    right: 3px;
}

#logs img{
    position: absolute;
    top: 3px;
    right: 30px;
}

.search {
    text-align: center;
    padding-top: 3px
    margin-right: 20px;
}

.search input{
    width: 250px;
}

#post {
    text-align: center;
    padding-top: 30px;
    margin-right: 20px;
}

#post button{
    width: 250px;
    height: 50px;
}

#pguo img[src="../images/pguo.jpg"]{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 20px;
}

#ed img[src="../images/edwin.jpg"]{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

#pguo img[src="../images/heart.png"]{
    width: 25px;
    height: 25px;
    margin-left: 80px;
}

#pguo img[src="../images/comment.png"]{
    width: 22px;
    height: 22px;
    margin-left: 160px;
}
#ed img[src="../images/heart.png"]{
    padding-top: 15px;
    width: 25px;
    height: 25px;
    margin-left: 80px;
}

#ed img[src="../images/comment.png"]{
    padding-top: 15px;
    width: 22px;
    height: 22px;
    margin-left: 160px;
}
#pguo h5{
    position: relative;
    display: inline;
    padding-left: 10px;
    top: -5px;
}

#ed h5{
    position: relative;
    display: inline;
    padding-left: 10px;
    top: -5px;
}

#pguo p{
    font-size: 15px;
    padding-left: 15px;
}

#ed p{
    font-size: 15px;
    padding-left: 25px;
}

#ed video{
    display: block;
    margin: 0 auto;
}
