body{
    margin: 0px;
}
.navbar{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.navbar a{
    float: left;
    display: inline-block;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

